body {
  background-color: #22262c;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
  /* overflow: hidden; */
}

.container-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%px;
}

.login {
  background-color: #0e0e13;
  padding: 50px;
  border-radius: 50px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

#sucesso,
#preencha,
#negado {
  display: none;
  text-align: center;
}

input {
  margin-top: 10px;
  padding: 5px;
  background-color: #252a34;
  border: none;
  height: 45px;
  border-radius: 8px;
  color: #cbd0f7;
  padding-left: 2%;
}

input:focus {
  outline: 2px solid #cbd0f7;
}

input::placeholder {
  color: #cbd0f7;
}

form [type="submit"] {
  display: block;
  background-color: #5568fe;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

form [type="submit"]:hover {
  background-color: #3b4abe;
}

p {
  color: #cbd0f7;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #5568fe;
}

@media screen and (max-width: 76px8) {
  .container-login {
    width: 100%;
    flex-direction: column;
  }
}
